<template>
	<app-container>
		<v-layout wrap text-xs-center>
			<v-flex xs12>
				<div class="headingWithImg">
					<app-img v-wh="32" data-src="/img/logos/bitcoin.png" class="mr-2" alt="BTC" />
					<h1>Bitcoin</h1>
				</div>
				<v-divider class="w-50 mx-auto" />
			</v-flex>
		</v-layout>

		<v-layout wrap>
			<v-flex xs12>
				<v-tabs fixed-tabs color="transparent" class="mt-4">
					<template v-for="(appMkt, i) in btcTabData">
						<v-tab :key="'appBtcTab' + i">
							<p class="text-dark m-2">
								{{ appMkt.title }}
							</p>
						</v-tab>
						<v-tab-item :key="'appBtcTabItem' + i">
							<component :is="appMkt.component" />
						</v-tab-item>
					</template>
				</v-tabs>
			</v-flex>
		</v-layout>
	</app-container>
</template>

<script>
export default {
	data: () => ({
		btcTabData: [
			{
				title:     'What is Bitcoin?',
				component: () => import('@/components/BtcIntro.vue'),
			},
			{
				title:     'Bitcoin + Businesses',
				component: () => import('@/components/BtcBusiness.vue'),
			},
			{
				title:     'Technical Resources',
				component: () => import('@/components/BtcTechnical.vue'),
			},
		],
	}),

	head: {
		title: 'Bitcoin - Steve Russo Technologies, LLC',
		meta: [
			{ hid: 'description', name: 'description', content: 'Steve Russo Technologies, Bitcoin resource page' },
			{ hid: 'keywords', name: 'keywords', content: 'bitcoin,information' },
		],
	},
}
</script>

<style>
</style>
