<template>
	<app-container>
		<v-layout wrap justify-center>
			<v-flex v-for="(data, i) in projects" :key="'portfolioCard' + i" xs12 sm8 md6 xl5>
				<v-card class="portfolio-card" height="100%">
					<v-img :src="data.mainImg" aspect-ratio="1.44" class="shrink" contain />
					<v-divider />

					<v-card-title>
						<div class="headingWithImg">
							<img v-if="data.logoSmall" v-wh="32" :src="data.logoSmall" class="mr-2">
							<h2>{{ data.title }}</h2>
						</div>
					</v-card-title>

					<v-card-text class="grow">
						<p>
							{{ data.desc }}
							<router-link v-if="data.writeUp" :to="data.writeUp">Read More.</router-link>
						</p>
					</v-card-text>

					<v-card-actions>
						<v-spacer />
						<v-btn v-if="data.repo" v-external dark color="blue" :href="data.repo">View Repo</v-btn>
						<v-btn v-if="data.href" v-external dark color="blue" :href="data.href">View Site</v-btn>
					</v-card-actions>
				</v-card>
			</v-flex>
		</v-layout>
	</app-container>
</template>

<script>
export default {
	data: () => ({
		projects: [
			{
				title:     'All Star Kids Academy',
				mainImg:   '/img/portfolio/aska-01.png',
				logoSmall: 'https://www.allstarkidsnj.com/favicon.ico',
				writeUp:   '/portfolio/aska/',
				href:      'https://www.allstarkidsnj.com/',
				desc:      'All Star Kids Academy is a full service, state licensed daycare located in Ringwood, NJ.',
			},
			{
				title:     'FreeBSD.sh',
				mainImg:   '/img/portfolio/freebsdsh-padded.png',
				logoSmall: 'https://freebsd.sh/favicon.ico',
				href:      'https://freebsd.sh/',
				repo:      'https://gitlab.com/steverussotech/freebsd.sh/',
				desc: `
					FreeBSD.sh is a collection of guides for managing software on FreeBSD systems.
					It's a lightweight website built using VuePress.
				`,
			},
		],
	}),

	head: {
		title: 'Portfolio',
	},
}
</script>

<style>
.portfolio-card {
	display: flex;
	flex-direction: column;
}
</style>
