<template>
	<v-container>
		<v-layout wrap justify-center>
			<v-flex xs12 lg8 xl6 class="article">
				<component :is="articleComponent" v-highlightjs />
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
export default {
	computed: {
		articleComponent: function() {
			return () => import('@/assets/articles' + this.$route.fullPath + 'README.md')
		},
	},
}
</script>

<style>
.article hr {
	color: white;
	margin: 1.5rem auto;
}
.article img {
	max-width: 700px;
	padding: 1.5rem;
}
.article h2,
.article h3,
.article h4 {
	margin-top: 2rem !important;
	margin-bottom: 1rem !important;
}
</style>
