<template>
	<section>
		<app-jumbotron />
		<app-marketing />
	</section>
</template>

<script>
export default {
	components: {
		AppJumbotron: () => import('@/components/AppJumbotron.vue'),
		AppMarketing: () => import('@/components/AppMarketing.vue'),
	},

	head: {
		title: 'Steve Russo Technologies',
		titleTemplate: null,
	},
}
</script>
