<template>
	<app-container>
		<v-layout wrap justify-center>
			<v-flex md6>
				<app-info-section icon="info" title="Hardware Endeavors">
					<ul class="list">
						<li>
							<router-link to="/blog/my-bitcoin-node/the-hardware/">
								My Bitcoin Node - The Hardware
							</router-link>
						</li>
						<li>
							<router-link to="/blog/acer-swift-1/">
								Acer SF114-32-P2PK - M.2 SSD Expansion
							</router-link>
						</li>
					</ul>
				</app-info-section>
			</v-flex>

			<v-flex md6>
				<app-info-section img-src="/img/logos/openzfs.png" title="ZFS">
					<ul class="list">
						<li>
							<router-link to="/blog/building-zfs-on-rock64-ubuntu-distro/">
								Building ZFS on a Rock64 Ubuntu Distro
							</router-link>
						</li>
					</ul>
				</app-info-section>
			</v-flex>
		</v-layout>
	</app-container>
</template>

<script>
export default {
	head: {
		title: 'Blog',
		meta: [
			{ vmid: 'description', name: 'description', content: 'Steve Russo Technologies, Blog' },
			{ vmid: 'keywords', name: 'keywords', content: 'blog' },
		],
	},
}
</script>
