<template>
	<footer class="app-footer mt-4 text-xs-center">
		<app-container>
			<v-layout wrap>
				<v-flex xs12 md6>
					<h2>Connect</h2>
					<v-divider dark class="mx-auto my-3" />
					<v-btn color="#2196F3" href="tel:+19732459459"><v-icon color="white">phone</v-icon></v-btn>
					<v-btn color="#2196F3" href="mailto:info@steverusso.tech"><v-icon color="white">email</v-icon></v-btn>
				</v-flex>

				<v-flex xs12 md6>
					<h2>Links</h2>
					<v-divider dark class="mx-auto my-3" />
					<v-btn small block flat dark to="/bitcoin/">What is Bitcoin?</v-btn>
					<v-btn v-external small block flat dark href="https://gitlab.com/steverussotech">GitLab</v-btn>
					<v-btn v-external small block flat dark href="https://github.com/steverussotech">GitHub</v-btn>
				</v-flex>
			</v-layout>
		</app-container>
	</footer>
</template>

<style>
.app-footer {
	background: #3e3e3e;
	color: white;
	padding: 2rem;
}
</style>
