<template>
	<v-layout align-center text-xs-left class="info-piece">
		<v-flex shrink>
			<v-icon v-if="icon && icon != ''" color="white" size="32">
				{{ icon }}
			</v-icon>
			<app-img v-else v-wh="32" :data-src="imgSrc" />
		</v-flex>

		<v-flex grow>
			<slot>
				{{ text }}
			</slot>
		</v-flex>

		<v-flex shrink>
			<slot name="right" />
		</v-flex>
	</v-layout>
</template>

<script>
export default {
	props: {
		icon: {
			type: String,
			default: '',
		},
		imgSrc: {
			type: String,
			default: '',
		},
		text: {
			type: String,
			default: '',
		},
	},
}
</script>

<style>
.info-piece, .info-piece a {
	color: white;
}
.info-piece {
	background: #444;
	border-radius: 5px;
}
.info-piece div:first-child {
	background: #3fc8fc;
	border-radius: 4px 0 0 4px;
}
</style>
