<template>
	<v-container pa-3 d-flex text-xs-left class="equalize">
		<app-info-piece :icon="icon" :img-src="imgSrc" :text="title" />

		<v-layout pa-1 fill-height class="info-section">
			<v-flex>
				<slot />
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
export default {
	props: {
		icon: {
			type: String,
			default: '',
		},
		imgSrc: {
			type: String,
			default: '',
		},
		title: {
			type: String,
			default: '',
		},
	},
}
</script>

<style>
.info-section {
	border: 1px solid #888;
	border-top: none;
	border-radius: 0 0 5px 5px;
}
</style>
