<template>
	<v-container fluid text-xs-center class="jumbotron">
		<app-container>
			<v-layout wrap justify-center align-center>
				<v-flex xs12 md6 class="jumbotron-logoname">
					<app-img data-src="/img/company-logo/128x128.png" />
					<h1>Steve Russo</h1>
					<h1>Technologies</h1>
					<h4 class="mt-2">LLC</h4>

					<div class="text-xs-center hidden-md-and-up">
						<v-divider width="50%" class="mx-auto my-3" />
						<b>A Technology Consulting Company</b>
					</div>
				</v-flex>

				<v-flex xs12 sm8 md6 class="jtron-info-list">
					<v-flex xs12 sm11 md10 class="mx-auto">
						<dialog-about-me />

						<a v-for="info in contactInfo" :key="info.href" :href="info.href">
							<app-info-piece :icon="info.icon" class="hover-shadow">
								{{ info.text }}
								<template slot="right">
									<v-icon color="white" small>open_in_new</v-icon>
								</template>
							</app-info-piece>
						</a>
					</v-flex>
				</v-flex>
			</v-layout>

			<v-layout justify-center align-center class="jumbotron-desc hidden-sm-and-down">
				<v-flex grow><v-divider /></v-flex>
				<v-flex md4>
					<b>A Technology Consulting Company</b>
				</v-flex>
				<v-flex grow><v-divider /></v-flex>
			</v-layout>
		</app-container>
	</v-container>
</template>

<script>
export default {
	components: {
		DialogAboutMe: () => import('@/components/DialogAboutMe.vue'),
	},

	data: () => ({
		contactInfo: [
			{
				href: 'tel:+19732459459',
				icon: 'call',
				text: '(973) \xa0 245 - 9459',
			},
			{
				href: 'mailto:info@steverusso.tech',
				icon: 'mail_outline',
				text: 'info@steverusso.tech',
			},
		],
	}),
}
</script>

<style>
.jumbotron {
	background: #fbfbfb;
	box-shadow: inset 0 0 90px 35px #d7dadf;
	padding-bottom: 2rem;
}
@media (min-width: 601px) {
	.jumbotron {
		padding-top: 5rem;
	}
	.jumbotron-desc {
		padding-top: 6rem;
	}
}
@media (min-width: 961px) {
	.jumbotron {
		padding-top: 8rem;
	}
}
@media (max-width: 600px) {
	.jumbotron-logoname {
		padding-top: 4rem;
		padding-bottom: 2rem;
	}
}
.jtron-info-list .info-piece {
	margin: 1rem auto !important;
}
</style>
