<template>
	<app-container class="text-xs-center">
		<v-layout wrap justify-center>
			<v-flex xs12 sm8 md5>
				<app-img v-wh="128" data-src="/img/burning-resources.png" class="my-3" />
				<h3 class="mb-3 font-weight-bold">
					Don't let your business fall behind.
				</h3>
				<p>
					Keeping up with new technologies can be very difficult, but it's often the difference between success and failure.
					Lagging behind on technology can result in unnecessarily burning through resources.
				</p>
			</v-flex>

			<v-flex md2 class="hidden-sm-and-down">
				<v-divider vertical />
			</v-flex>

			<v-flex xs12 sm8 md5>
				<app-img v-wh="128" data-src="/img/time-for-money.png" class="my-3" />
				<h3 class="mb-3 font-weight-bold">
					Don't spend time to "save" money.
				</h3>
				<p>
					As business owners, our most valuable asset is our time.
					However, it's also our most limited resource.
					That is why successful business owners spend money to save time.
					For example, they hire professionals to file their taxes.
				</p>
			</v-flex>
		</v-layout>

		<v-layout wrap justify-center>
			<v-flex xs12>
				<v-divider class="mx-auto my-3" />
			</v-flex>

			<v-flex xs12>
				<h3 class="pa-2">Strengthen Your Business</h3>
			</v-flex>

			<v-flex v-for="(tech, i) in businessTechs" :key="'bizTech' + i" xs9 sm6 md4>
				<app-img v-wh="64" :data-src="'/img/techtools/' + tech.img" class="mx-auto" />
				<h3 class="my-2">{{ tech.title }}</h3>
				<p>{{ tech.desc }}</p>
			</v-flex>
		</v-layout>
	</app-container>
</template>

<script>
export default {
	data: () => ({
		businessTechs: [
			{
				title: 'Website',
				img: 'website.png',
				desc: 'Every business should have a website. With proper search engine optimization and security, it\'s an invaluable tool for growing a business.',
			},
			{
				title: 'Online Profile',
				img: 'search-profile.png',
				desc: 'A search results page should give an accurate overview of your business: location, hours, and links to the website and social media accounts.',
			},
			{
				title: 'Analytics',
				img: 'analytics.png',
				desc: 'Gathering and analyzing the right data can help identify strengths and weaknesses in a business, allowing for more informed decisions.',
			},
		],
	}),
}
</script>
