<template>
	<v-container text-xs-center grid-list-xl>
		<!-- Brief intro to Bitcoin -->
		<v-layout justify-center>
			<v-flex lg8>
				<v-card>
					<v-card-text>
						<h3 class="mx-auto mb-3">Note:</h3>
						<p>
							Bitcoin is a revolutionary technology that is still in the early stages of development.
							Much like the early stages of the internet, a certain level of technical skill is required in order to take full advantage of what this new technology offers.
							However, also like the early days of the internet, doing so can improve your bottom line and provide an edge over the competition.
						</p>
					</v-card-text>
				</v-card>
			</v-flex>
		</v-layout>

		<!-- Main advantages of using Bitcoin -->
		<v-layout wrap class="mt-3">
			<v-flex v-for="(adv, i) in btcAdvantages" :key="'adv' + i" xs12 sm6 lg3>
				<app-img v-wh="100" :data-src="'/img/bitcoin/' + adv[1]" class="m-3" />
				<h3 class="my-2">{{ adv[0] }}</h3>
				<p>{{ adv[2] }}</p>
			</v-flex>
		</v-layout>

		<v-divider class="my-3" />

		<v-layout>
			<v-flex>
				<p>For further reading, check out:</p>
				<a v-external href="https://bitcoin.org/en/bitcoin-for-businesses">https://bitcoin.org/en/bitcoin-for-businesses</a>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
export default {
	data: () => ({
		btcAdvantages:[
			[
				'Near Zero Fees',
				'no-fees.png',
				'There are no fees to receive Bitcoin, and any fees for sending Bitcoin are not based on the amount.',
			],
			[
				'No Third Party',
				'no-third-party.png',
				'Only you and the person you are transacting with are involved in any given transaction.',
			],
			[
				'Secure',
				'bitcoin-shield.png',
				'No chargebacks. No account freezes. When someone pays you in Bitcoin, the money is yours.',
			],
			[
				'Efficient',
				'no-bank-settlement-time.png',
				'No more operating around the banks\' time or waiting for someone else to give your money.',
			],
		],
	}),
}
</script>
