<template>
	<v-container text-xs-center grid-list-xl>
		<!-- Brief description of Bitcoin -->
		<v-layout justify-center>
			<v-flex xs12 md6>
				<v-card>
					<v-card-text>
						Bitcoin is peer-to-peer, digital cash.
						It is a new kind of money that allows for humans and computers to securely exchange value.
					</v-card-text>
				</v-card>
			</v-flex>
		</v-layout>

		<!-- Main strengths of Bitcoin -->
		<v-layout wrap justify-center>
			<v-flex v-for="(btcIs, i) in bitcoinIs" :key="btcIs.img + i" xs12 sm6 md4 text-xs-center>
				<app-img v-wh="128" :data-src="'/img/bitcoin/' + btcIs.img" class="mt-3 mb-3" />
				<h2 class="my-2">{{ btcIs.title }}</h2>
				<p v-html="btcIs.desc" />
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
export default {
	data: () => ({
		bitcoinIs: [
			{
				title: 'Trustless',
				img: 'search-and-verify.png',
				desc: 'No one has to trust anyone else in order to use Bitcoin. Users are in control of their funds and can independently verify things like the status of their transactions or the total supply of Bitcoin.',
			},
			{
				title: 'Decentralized',
				img: 'decentralized.png',
				desc: 'Bitcoin is not controlled by any central organization. It is secured by a network where each node validates transactions. Users are encouraged to <a href="https://bitcoin.org/en/full-node">run their own node</a>!',
			},
			{
				title: 'Permissionless',
				img: 'permissionless.png',
				desc: 'Because Bitcoin is decentralized, you don\'t need approval from anyone to use it. Anyone with a laptop or smart phone now has access to global payments that cannot be frozen or censored.',
			},
		],
	}),
}
</script>
