<template>
	<v-container text-xs-center grid-list-xl>
		<v-layout justify-center>
			<v-flex xs12 sm8>
				<v-card class="text-xs-center">
					<v-card-text>
						<h2 class="my-2"><v-icon>info</v-icon> Staying Informed</h2>
						The Bitcoin ecosystem maintains a fast rate of innovation.
						As difficult as it is to keep up and stay informed, it's not impossible.
						The best resources I've found so far are:
					</v-card-text>
				</v-card>
			</v-flex>
		</v-layout>

		<v-layout wrap justify-center>
			<v-flex xs12 sm8 md6>
				<v-card class="equalize">
					<v-card-text>
						<app-img v-wh="32" data-src="/img/logos/bitcoinoptech.png" />
						<h3 class="my-2">Bitcoin Optech newsletter</h3>
						The <a v-external href="https://bitcoinops.org/en/newsletters/">bitcoinops.org newsletter</a> is perhaps the best resource for keeping up with all the important technological advancements happening in this space,
						such as important merge requests and releases in the leading projects (<a v-external href="https://github.com/bitcoin/bitcoin">bitcoind</a>, <a v-external href="https://github.com/lightningnetwork/lnd/">lnd</a>, etc).
					</v-card-text>
				</v-card>
			</v-flex>

			<v-flex xs12 sm8 md6>
				<v-card class="equalize">
					<v-card-text>
						<app-img v-wh="32" data-src="/img/logos/mcf.png" />
						<h3 class="my-2">Magical Crypto Friends podcast</h3>
						The <a v-external href="https://www.youtube.com/channel/UCVVDsIYJBQ_C7Bh_aI3ZMxQ">Magical Crypto Friends</a> are four people who play major roles in the crypto ecosystem.
						Together, they host a podcast that is light and funny, yet extremely informative.
					</v-card-text>
				</v-card>
			</v-flex>
		</v-layout>

		<v-divider class="my-4" />

		<v-layout>
			<v-flex>
				<h2>Other Resources</h2>
			</v-flex>
		</v-layout>

		<v-layout wrap justify-center>
			<v-flex v-for="info in linkGroups" :key="info.text" xs12 sm8 md6>
				<app-info-section :img-src="'/img/icons/' + info.iconImg + '.png'" :icon="info.icon" :title="info.text">
					<ul class="list">
						<li v-for="item in info.items" :key="item[1]">
							<a v-external :href="item[1]">{{ item[0] }}</a>
						</li>
					</ul>
				</app-info-section>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
export default {
	data: () => ({
		linkGroups: [
			{
				icon: 'language',
				text: 'Bitcoin + Tor',
				items: [
					['Tor Project - Installing on Debian/Ubuntu', 'https://www.torproject.org/docs/debian.html.en'],
					['Tor on Arch Linux', 'https://wiki.archlinux.org/index.php/Tor'],
					['Bitcoin Wiki - Setting Up a Tor Hidden Service', 'https://en.bitcoin.it/wiki/Setting_up_a_Tor_hidden_service'],
					['Bitcoin Core Docs - Tor Support', 'https://github.com/bitcoin/bitcoin/blob/master/doc/tor.md'],
					['Jameson Lopp - Run Bitcoin As a Tor Hidden Service', 'https://medium.com/@lopp/how-to-run-bitcoin-as-a-tor-hidden-service-on-ubuntu-cff52d543756'],
				],
			},
			{
				iconImg: 'lightningbolt',
				text: 'Lightning',
				items: [
					['lightning.network', 'http://lightning.network/'],
					['ACINQ', 'https://acinq.co/'],
				],
			},
			{
				iconImg: 'taproot',
				text: 'Taproot',
				items: [
					['Taproot Is Coming: What It Is, and How It Will Benefit Bitcoin', 'https://bitcoinmagazine.com/articles/taproot-coming-what-it-and-how-it-will-benefit-bitcoin/'],
					['What is Taproot? Technology to Enhance Bitcoin’s Privacy', 'https://blockonomi.com/bitcoin-taproot/'],
					['Bitcoin’s Taproot Privacy Tech Is Ready – But There’s a Catch', 'https://www.coindesk.com/bitcoins-taproot-privacy-tech-is-ready-but-one-things-standing-in-the-way'],
				],
			},
		],
	}),
}
</script>
