<template>
	<v-dialog v-model="dialogAboutMe" class="d-none" max-width="500">
		<template v-slot:activator="{ on }">
			<a v-on="on">
				<app-info-piece class="hover-shadow" icon="person">
					Steve Russo, <small>Owner / Operator</small>
					<template slot="right">
						<v-icon color="white" small>open_in_new</v-icon>
					</template>
				</app-info-piece>
			</a>
		</template>

		<v-card>
			<v-card-title class="headline">About Me</v-card-title>

			<v-card-text class="text-xs-center">
				<p>Hello!</p>
				<p>My name is Steve, and I am the owner and operator of Steve Russo Technologies.</p>

				<v-container grid-list-md>
					<v-layout wrap>
						<v-flex v-for="li in linkInfos" :key="li.href" xs6>
							<a v-external :href="li.href">
								<app-img v-wh="32" :data-src="li.img" class="mx-auto mb-3 d-block" />
								<span>{{ li.text }}</span>
							</a>
						</v-flex>
					</v-layout>
				</v-container>
			</v-card-text>

			<v-card-actions>
				<v-spacer />
				<v-btn color="blue" flat @click="dialogAboutMe = false">Close</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script>
export default {
	data: () => ({
		dialogAboutMe: false,
		linkInfos: [
			{
				text: 'My GitLab',
				href: 'https://gitlab.com/steverusso',
				img: '/img/logos/gitlab.png',
			},
			{
				text: 'My GitHub',
				href: 'https://github.com/steverusso',
				img: '/img/logos/github.png',
			},
		],
	}),
}
</script>
