body, p, .application {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 105%;
}
p, p *, ul, ol, code {
	color: #444;
}
a {
	text-decoration: none;
}
.list {
	list-style: circle;
}
.list li {
	padding: .25rem;
}
h1 {
	font-size: 2.5rem !important;
	font-weight: normal;
}
.hover-shadow:hover {
	box-shadow: 2px 2px 6px 8px #ccc;
}
pre {
	border-radius: 10px;
	margin: 1rem auto;
}
code {
	background: #eee;
	box-shadow: none;
	display: inline-block;
	font-weight: normal !important;
	letter-spacing: .025rem;
	word-spacing: .05rem;
	padding: 0.25rem 0.75rem !important;
}
pre > code {
	padding: 1rem !important;
	font-weight: normal !important;
}
code::after, code::before {
	content: none;
}
.w-50 {
	width: 50%;
}
.equalize {
	flex-direction: column;
	height: 100%;
}
.headingWithImg * {
	display: inline;
	vertical-align: middle;
}
