<template>
	<v-app>
		<v-navigation-drawer v-if="navMobile" v-model="drawer" app clipped right dark>
			<!-- The 'CLOSE' button to hide the navigation drawer. -->
			<v-btn large block flat @click.stop="drawer = !drawer">
				<v-icon left>close</v-icon>
				CLOSE<v-spacer />
				<v-icon right>exit_to_app</v-icon>
			</v-btn>

			<v-divider />

			<!-- The vertical list / group of navigation links in the drawer. -->
			<!-- Loop over the link data array ( item -> [ href, text ] ). -->
			<template v-for="item in navLinks">
				<!-- If the 'href' begins with 'http', then it's an outbound link. -->
				<!-- In such a case, add custom 'v-external' directive and 'open_in_new' material icon. -->
				<v-btn v-if="item[1].substring(0, 4) == 'http'" :key="item[1]" v-external :href="item[1]" block flat>
					<v-spacer />
					{{ item[0] }}
					<v-icon small right>open_in_new</v-icon>
				</v-btn>

				<!-- If the 'href' does not begin with 'http', then it's a plain router link. -->
				<!-- Same type of button as outbound except there is a padding-right of 5. -->
				<v-btn v-else :key="item[1]" :to="item[1]" class="pr-5" block flat>
					<v-spacer />
					{{ item[0] }}
				</v-btn>
			</template>
		</v-navigation-drawer>

		<v-toolbar fixed app clipped-right :dark="!isHomePage" :color="toolbarColor" class="elevation-0">
			<v-toolbar-title>
				<router-link to="/" style="outline: none;">
					<app-img v-wh="40" src="/img/company-logo/64x64.png" class="d-block" />
				</router-link>
			</v-toolbar-title>

			<v-spacer />

			<v-toolbar-items v-if="!navMobile">
				<template v-for="(item, i) in navLinks">
					<template v-if="i != 0">
						<v-btn v-if="item[1].substring(0, 4) == 'http'" :key="'appToolbarItem' + i" v-external flat :dark="!isHomePage" :href="item[1]">
							{{ item[0] }}<v-icon small class="ml-1">open_in_new</v-icon>
						</v-btn>
						<v-btn v-else :key="'appToolbarItem' + i" flat :dark="!isHomePage" :to="item[1]">{{ item[0] }}</v-btn>
					</template>
				</template>
			</v-toolbar-items>

			<v-toolbar-side-icon v-if="navMobile" @click.stop="drawer = !drawer" />
		</v-toolbar>

		<v-content>
			<router-view />
		</v-content>

		<app-footer />
	</v-app>
</template>

<script>
import '@/assets/app.css'

export default {
	components: {
		AppFooter: () => import('@/components/AppFooter.vue'),
	},

	data: () => ({
		drawer: false,
		navLinks: [
			[ 'Home',      '/' ],
			[ 'Portfolio', '/portfolio/' ],
			[ 'Blog',      '/blog/' ],
			[ 'Bitcoin',   '/bitcoin/' ],
			[ 'GitLab',    'https://gitlab.com/steverussotech/' ],
			[ 'GitHub',    'https://github.com/steverussotech/' ],
		],
	}),

	computed: {
		isHomePage: function() {
			return this.$route.fullPath == '/'
		},

		toolbarColor: function() {
			return !this.isHomePage ? '#263238' : 'rgba(215, 218, 223, 0.85)'
		},

		navMobile: function() {
			return this.$vuetify.breakpoint.smAndDown
		},
	},

	head: {
		title: 'Steve Russo Technologies',
		titleTemplate: '%s | Steve Russo Technologies',
	},
}
</script>
